# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Common working directory
run/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
.idea/modules.xml
.idea/*.iml
.idea/modules

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

# JetBrains templates
**___jb_tmp___

modules.xml
.idea/misc.xml

# Sonarlint plugin
.idea/sonarlint
/htmlReport/img/arrowDown.gif
/htmlReport/img/arrowUp.gif
/htmlReport/css/coverage.css
/htmlReport/js/highlight.min.js
/htmlReport/js/highlightjs-line-numbers.min.js
/htmlReport/css/idea.min.css
/htmlReport/ns-1/index.html
/htmlReport/ns-2/index.html
/htmlReport/ns-3/index.html
/htmlReport/ns-4/index.html
/htmlReport/ns-5/index.html
/htmlReport/ns-6/index.html
/htmlReport/ns-7/index.html
/htmlReport/ns-8/index.html
/htmlReport/ns-9/index.html
/htmlReport/ns-10/index.html
/htmlReport/ns-11/index.html
/htmlReport/ns-12/index.html
/htmlReport/ns-a/index.html
/htmlReport/ns-b/index.html
/htmlReport/ns-c/index.html
/htmlReport/ns-d/index.html
/htmlReport/ns-e/index.html
/htmlReport/ns-f/index.html
/htmlReport/index.html
/htmlReport/ns-1/index_SORT_BY_BLOCK.html
/htmlReport/ns-2/index_SORT_BY_BLOCK.html
/htmlReport/ns-3/index_SORT_BY_BLOCK.html
/htmlReport/ns-4/index_SORT_BY_BLOCK.html
/htmlReport/ns-5/index_SORT_BY_BLOCK.html
/htmlReport/ns-6/index_SORT_BY_BLOCK.html
/htmlReport/ns-7/index_SORT_BY_BLOCK.html
/htmlReport/ns-8/index_SORT_BY_BLOCK.html
/htmlReport/ns-9/index_SORT_BY_BLOCK.html
/htmlReport/ns-10/index_SORT_BY_BLOCK.html
/htmlReport/ns-11/index_SORT_BY_BLOCK.html
/htmlReport/ns-12/index_SORT_BY_BLOCK.html
/htmlReport/ns-a/index_SORT_BY_BLOCK.html
/htmlReport/ns-b/index_SORT_BY_BLOCK.html
/htmlReport/ns-c/index_SORT_BY_BLOCK.html
/htmlReport/ns-d/index_SORT_BY_BLOCK.html
/htmlReport/ns-e/index_SORT_BY_BLOCK.html
/htmlReport/ns-f/index_SORT_BY_BLOCK.html
/htmlReport/index_SORT_BY_BLOCK.html
/htmlReport/ns-1/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-2/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-3/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-4/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-5/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-6/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-7/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-8/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-9/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-10/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-11/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-12/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-a/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-b/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-c/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-d/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-e/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-f/index_SORT_BY_BLOCK_DESC.html
/htmlReport/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-1/index_SORT_BY_CLASS.html
/htmlReport/ns-2/index_SORT_BY_CLASS.html
/htmlReport/ns-3/index_SORT_BY_CLASS.html
/htmlReport/ns-4/index_SORT_BY_CLASS.html
/htmlReport/ns-5/index_SORT_BY_CLASS.html
/htmlReport/ns-6/index_SORT_BY_CLASS.html
/htmlReport/ns-7/index_SORT_BY_CLASS.html
/htmlReport/ns-8/index_SORT_BY_CLASS.html
/htmlReport/ns-9/index_SORT_BY_CLASS.html
/htmlReport/ns-10/index_SORT_BY_CLASS.html
/htmlReport/ns-11/index_SORT_BY_CLASS.html
/htmlReport/ns-12/index_SORT_BY_CLASS.html
/htmlReport/ns-a/index_SORT_BY_CLASS.html
/htmlReport/ns-b/index_SORT_BY_CLASS.html
/htmlReport/ns-c/index_SORT_BY_CLASS.html
/htmlReport/ns-d/index_SORT_BY_CLASS.html
/htmlReport/ns-e/index_SORT_BY_CLASS.html
/htmlReport/ns-f/index_SORT_BY_CLASS.html
/htmlReport/index_SORT_BY_CLASS.html
/htmlReport/ns-1/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-2/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-3/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-4/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-5/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-6/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-7/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-8/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-9/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-10/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-11/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-12/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-a/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-b/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-c/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-d/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-e/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-f/index_SORT_BY_CLASS_DESC.html
/htmlReport/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-1/index_SORT_BY_LINE.html
/htmlReport/ns-2/index_SORT_BY_LINE.html
/htmlReport/ns-3/index_SORT_BY_LINE.html
/htmlReport/ns-4/index_SORT_BY_LINE.html
/htmlReport/ns-5/index_SORT_BY_LINE.html
/htmlReport/ns-6/index_SORT_BY_LINE.html
/htmlReport/ns-7/index_SORT_BY_LINE.html
/htmlReport/ns-8/index_SORT_BY_LINE.html
/htmlReport/ns-9/index_SORT_BY_LINE.html
/htmlReport/ns-10/index_SORT_BY_LINE.html
/htmlReport/ns-11/index_SORT_BY_LINE.html
/htmlReport/ns-12/index_SORT_BY_LINE.html
/htmlReport/ns-a/index_SORT_BY_LINE.html
/htmlReport/ns-b/index_SORT_BY_LINE.html
/htmlReport/ns-c/index_SORT_BY_LINE.html
/htmlReport/ns-d/index_SORT_BY_LINE.html
/htmlReport/ns-e/index_SORT_BY_LINE.html
/htmlReport/ns-f/index_SORT_BY_LINE.html
/htmlReport/index_SORT_BY_LINE.html
/htmlReport/ns-1/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-2/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-3/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-4/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-5/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-6/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-7/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-8/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-9/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-10/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-11/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-12/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-a/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-b/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-c/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-d/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-e/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-f/index_SORT_BY_LINE_DESC.html
/htmlReport/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-1/index_SORT_BY_METHOD.html
/htmlReport/ns-2/index_SORT_BY_METHOD.html
/htmlReport/ns-3/index_SORT_BY_METHOD.html
/htmlReport/ns-4/index_SORT_BY_METHOD.html
/htmlReport/ns-5/index_SORT_BY_METHOD.html
/htmlReport/ns-6/index_SORT_BY_METHOD.html
/htmlReport/ns-7/index_SORT_BY_METHOD.html
/htmlReport/ns-8/index_SORT_BY_METHOD.html
/htmlReport/ns-9/index_SORT_BY_METHOD.html
/htmlReport/ns-10/index_SORT_BY_METHOD.html
/htmlReport/ns-11/index_SORT_BY_METHOD.html
/htmlReport/ns-12/index_SORT_BY_METHOD.html
/htmlReport/ns-a/index_SORT_BY_METHOD.html
/htmlReport/ns-b/index_SORT_BY_METHOD.html
/htmlReport/ns-c/index_SORT_BY_METHOD.html
/htmlReport/ns-d/index_SORT_BY_METHOD.html
/htmlReport/ns-e/index_SORT_BY_METHOD.html
/htmlReport/ns-f/index_SORT_BY_METHOD.html
/htmlReport/index_SORT_BY_METHOD.html
/htmlReport/ns-1/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-2/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-3/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-4/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-5/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-6/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-7/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-8/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-9/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-10/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-11/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-12/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-a/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-b/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-c/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-d/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-e/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-f/index_SORT_BY_METHOD_DESC.html
/htmlReport/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-1/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-2/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-3/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-4/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-5/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-6/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-7/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-8/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-9/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-10/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-11/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-12/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-a/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-b/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-c/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-d/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-e/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-f/index_SORT_BY_NAME_DESC.html
/htmlReport/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-1/sources/source-1.html
/htmlReport/ns-2/sources/source-1.html
/htmlReport/ns-3/sources/source-1.html
/htmlReport/ns-4/sources/source-1.html
/htmlReport/ns-5/sources/source-1.html
/htmlReport/ns-6/sources/source-1.html
/htmlReport/ns-7/sources/source-1.html
/htmlReport/ns-8/sources/source-1.html
/htmlReport/ns-9/sources/source-1.html
/htmlReport/ns-10/sources/source-1.html
/htmlReport/ns-11/sources/source-1.html
/htmlReport/ns-12/sources/source-1.html
/htmlReport/ns-a/sources/source-1.html
/htmlReport/ns-b/sources/source-1.html
/htmlReport/ns-c/sources/source-1.html
/htmlReport/ns-d/sources/source-1.html
/htmlReport/ns-e/sources/source-1.html
/htmlReport/ns-f/sources/source-1.html
/htmlReport/ns-1/sources/source-2.html
/htmlReport/ns-2/sources/source-2.html
/htmlReport/ns-3/sources/source-2.html
/htmlReport/ns-4/sources/source-2.html
/htmlReport/ns-5/sources/source-2.html
/htmlReport/ns-6/sources/source-2.html
/htmlReport/ns-7/sources/source-2.html
/htmlReport/ns-8/sources/source-2.html
/htmlReport/ns-9/sources/source-2.html
/htmlReport/ns-10/sources/source-2.html
/htmlReport/ns-11/sources/source-2.html
/htmlReport/ns-12/sources/source-2.html
/htmlReport/ns-a/sources/source-2.html
/htmlReport/ns-b/sources/source-2.html
/htmlReport/ns-c/sources/source-2.html
/htmlReport/ns-e/sources/source-2.html
/htmlReport/ns-f/sources/source-2.html
/htmlReport/ns-1/sources/source-3.html
/htmlReport/ns-7/sources/source-3.html
/htmlReport/ns-9/sources/source-3.html
/htmlReport/ns-10/sources/source-3.html
/htmlReport/ns-11/sources/source-3.html
/htmlReport/ns-12/sources/source-3.html
/htmlReport/ns-a/sources/source-3.html
/htmlReport/ns-b/sources/source-3.html
/htmlReport/ns-c/sources/source-3.html
/htmlReport/ns-7/sources/source-4.html
/htmlReport/ns-9/sources/source-4.html
/htmlReport/ns-10/sources/source-4.html
/htmlReport/ns-a/sources/source-4.html
/htmlReport/ns-b/sources/source-4.html
/htmlReport/ns-c/sources/source-4.html
/htmlReport/ns-7/sources/source-5.html
/htmlReport/ns-9/sources/source-5.html
/htmlReport/ns-a/sources/source-5.html
/htmlReport/ns-b/sources/source-5.html
/htmlReport/ns-c/sources/source-5.html
/htmlReport/ns-9/sources/source-6.html
/htmlReport/ns-a/sources/source-6.html
/htmlReport/ns-b/sources/source-6.html
/htmlReport/ns-9/sources/source-7.html
/htmlReport/ns-a/sources/source-7.html
/htmlReport/ns-b/sources/source-7.html
/htmlReport/ns-9/sources/source-8.html
/htmlReport/ns-b/sources/source-8.html
/htmlReport/ns-9/sources/source-9.html
/htmlReport/ns-9/sources/source-10.html
/htmlReport/ns-9/sources/source-11.html
/htmlReport/ns-9/sources/source-12.html
/htmlReport/ns-9/sources/source-13.html
/htmlReport/ns-9/sources/source-a.html
/htmlReport/ns-9/sources/source-b.html
/htmlReport/ns-9/sources/source-c.html
/htmlReport/ns-9/sources/source-d.html
/htmlReport/ns-9/sources/source-e.html
/htmlReport/ns-9/sources/source-f.html
